{% extends 'dashboard.html' %}


{% block dashboard %}

    <h2>دوره</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>العنوان</th>
              <th>العنوان</th>
              <th>العنوان</th>
              <th>العنوان</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>أم.</td>
              <td>و.</td>
              <td>ثمّة.</td>
              <td>ويتّفق.</td>
            </tr>

          </tbody>
        </table>
      </div>
{% endblock %}