<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-0" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Notifications</a>
      </li>
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>
    {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="#">Switch account</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">

            {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            {% endif %}

        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

        {% if user.is_authenticated %}
            <a class="btn btn-outline-warning mr-2" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="btn btn-outline-info mr-2" href="{% url 'register' %}">Register</a>
            <a class="btn btn-outline-success mr-2" href="{% url 'login' %}">Login</a>
        {% endif %}

      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
      {% if user.is_authenticated %}
        <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
      {% endif %}
    <a class="nav-link" href="{% url 'read.cat' %}">Category</a>
    <a class="nav-link" href="#">Explore</a>
    <a class="nav-link" href="#">Suggestions</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
  </nav>
</div>
</header>