{% extends 'main.html' %}

{% block content %}

{% if perms.category.add_category %}
<a class="btn btn-success" href="{% url 'create.cat' %}">Create Category</a>
    {% endif%}
    
    <h2>دسته‌بندی</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>عنوان</th>
              <th>عکس</th>
              <th>متن</th>
              <th>تاریخ ساخت</th>
              <th>تاریخ ویرایش</th>
              <th>اعمال</th>
            </tr>
          </thead>
          <tbody>

          {% for category in categories %}
          <tr>
              <td>{{ category.title }}</td>
              <td>
                  <img src="/{{ category.image }}" width="100vw" height="100vw">
              </td>
              <td>{{ category.body }}</td>
              <td>{{ category.created_at }}</td>
              <td>{{ category.updated_at }}</td>
              <td>
                  {% if perms.category.change_category %}
                    <a class="btn btn-warning" href="{% url 'update.cat' category.id %}">ویرایش</a>
                  {% endif %}
                <a class="btn btn-danger" href="{% url 'delete.cat' category.id %}">حذف</a>
              </td>
            </tr>
          {% endfor %}



          </tbody>
        </table>
      </div>

{% endblock %}